.text-default {
    font: normal 1.3rem 'Cabin', sans-serif;
}

.add-to-home-banner {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-blend-mode: overlay, color, overlay, difference, color-dodge, difference, normal;
  cursor: pointer;
  text-align: left;
  -webkit-user-select: none;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-to-home-content {
    display: flex;
    align-items: center;
}

.add-to-home-icon {
    width: 57px;
    height: 62px;
    padding: 10px;
    padding-right: 0;
}

.add-to-home-text {
    display: inline-block;
    font-size: 16px;
    padding-left: 10px;
}

.add-to-home-close-btn {
    display: inline-block;
    position: relative;
    padding: 0 8px;
    right: 4px;
    float: right;
    font-size: 32px;
}
